body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.profileRecharge {
  color: #13853a;
  border: 1px solid #13853a;
  border-radius: 5px;
  padding: 7px 18px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background: #fff;
}


.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.8rem;
}

.delete-button:hover {
  background-color: darkred;
}


.recent-chat-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-chat {
  position: absolute;
  top: 13%;
  right: -30%;
  background-color: #f0ad4e;
  color: #fff;
  /* padding: 1px 6px; */
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;

}










/* style css / profile card css /  */
.profile-card-box {
  display: flex;
  align-items: center;
  /* background-color: #f4f4f4; */
  width: 100%;
  column-gap: 15px;
  /* padding: 2% 4%; */
  flex-wrap: wrap;
}

@media (max-width:1442px) {
  .left-section {
    width: 40%;
  }
}

.profile-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  /* align-items: center;
  justify-content: space-around; */
  width: 32.7%;
  margin-bottom: 15px;
  justify-content: space-between;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding-left: 8px;
}

.profile-img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  background: #ddd;
}

.stars {
  color: gold;
  font-size: 14px;
  margin-top: 5px;
}

.profile-card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.verified {
  color: green;
  font-weight: bold;
}

.profile-card p {
  font-size: 12px;
  color: #555;
  /* margin: 3px 0; */
}

@media (max-width:750px) {
  .profile-card p{
    font-size: 11px;
    line-height: 18px;
    text-align: start;
  }
}

.formarginzero svg{
  color: #80c519 !important;
}

.pricing {
  font-weight: bold;
  margin: 5px 0;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 4px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
  /* padding: 0px; */
}

.buttons button {
  width: 90px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.chat {
  background: #ffcc00;
  color: #000;
}

.call {
  /* background: #000; */
  color: #fff;
}

.price {
  border: 1px solid #a0a0a0;
  padding: 4px 19px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .price {
    border: 1px solid #a0a0a0;
    padding: 4px 7px;
    border-radius: 4px;
  }

  .buttons button {
    width: 70px;
    padding: 6px;
    font-size: 13px;
  }
}

.buttons button:hover {
  opacity: 0.8;
}

.price {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.experience {
  font-size: 12px;
  font-weight: bold;
  margin: 0px !important;
}

.left-to-left {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .experience {
  margin-top: 25px !important;
} */

@media(max-width:1750px) {
  .profile-card {
    width: 32%;
  }
}

@media (max-width:1192px) {
  .buttons button {
    width: 80px;
  }

  .profile-card {
    padding: 15px 5px;
  }

  .left-section{
    line-height: 0px;
  }
}

@media (max-width:1088px) {
  .buttons button {
    width: 65px;
}
.price {
  padding: 4px 3px !important;
}
}

@media (max-width:1302px) {
  .price {
    padding: 4px 13px;
  }
}

@media (max-width: 768px) {
  .profile-card-box {
    padding: 2% 0%;
    justify-content: center;
  }

  .profile-card {
    width: 48.5%;
  }

  .profile-img {
    width: 60px !important;
    height: 60px !important;
  }

  .left-to-left {
    width: 27%;
  }

  .architectur-bar:nth-child(1) {
    width: 100%;
    padding: 0px 00px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .architectur-bar:nth-child(1) h3 {
    padding: 8px 0px;
    width: 100%;
    text-align: center;
  }

  /* .architectur-bar:nth-child(2) {
    display: none;
  } */

  .text-remove{
    display: none;
  }

}

@media (max-width: 822px) {
  .profile-card {
    width: 48%;
  }
}

@media (max-width: 556px) {
  .profile-card {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .profile-card {
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }

  /* .left-section {
    align-items: center;
  } */

  .chat-call-btn {
    /* flex-direction: row; */
    gap: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.formarginzero {
  margin: 0px !important;
}

.redBorder {
  border: 1px solid red !important;
}

.greenBorder {
  border: 1px solid green !important;
}
.marginnone{
  margin: 0rem 1.5rem;
}

.marginrightmore{
  margin-right: 0.5rem;
}

@media (max-width:650px) {
  .forresponsicetab{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .marginnone{
    margin: 0px 5px 0px 0px !important;
  }
  .marginrightmore{
    margin: 0rem;
  }
}

.carousel-item img{
  height: 418px;
}

@media (max-width:1210px) {
  .carousel-item img{
    height: 340px;
  }
}

@media (max-width:950px) {
  .carousel-item img{
    height: 242px;
  }
}

@media (max-width:654px) {
  .carousel-item img{
    height: 195px;
  }
}

@media (max-width:516px) {
  .carousel-item img{
    height: 156px;
  }
}

@media (max-width:516px) {
  .carousel-item img{
    height: 156px;
  }
}

@media (max-width:442px) {
  .carousel-item img{
    height: 140px;
  }
}

.filter-border{
  border: 1px solid #e2e6ea !important;
}

.profile-card{
  position: relative;
}

.profile-card .verified-badge{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 70px;
}

.profile-card .verified-badge-profile{
  position: absolute;
  top: 10px;
  left: 1%;
  width: 100px;
}

.canvas-container{
  width: 100% !important;
  /* height: auto !important; */
}

.forwidthfullcanvas{
  width: 100% !important;
}

.canvas-flex{
  display: flex;
}

.tool-height{
  height:'100%';
}

.forwidthcanva{
  width: 100% !important;
  height: 100% !important;
}